trigger:
- master

stages:
- stage: Build
  jobs:
  - job: build
    strategy:
      matrix:
        linux: { imageName: "ubuntu-18.04" }
        mac: { imageName: "macos-10.14" }
        windows: { imageName: "windows-2019" }
      maxParallel: 3
    pool:
      vmImage: $(imageName)
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        useGlobalJson: true
    - task: NuGetAuthenticate@0
    - pwsh: ./build.ps1 -PublishArtifactsToAzureDevOps:(("$(imageName)" -eq "windows-2019")) -ArtifactsStagingPath "$(Build.ArtifactStagingDirectory)"
      displayName: run build.ps1
      failOnStderr: true
      env:
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
        AssentNonInteractive: true

    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFormat: 'VSTest'
        testResultsFiles: '**/*.trx'
        failTaskOnFailedTests: true
        testRunTitle: 'Test run on $(imageName)'
        buildPlatform: '$(imageName)'

- stage: deploy_phoenix
  condition: and(succeeded(), eq(variables['Build.Reason'], 'PullRequest'))
  jobs:
  - template: azure-pipelines-release-template.yml
    parameters:
      environmentNameSuffix: phoenix
      environmentAutoDelete: true
      azureSubscription: 'KMD Momentum Internal (77a2aca7-3b91-463d-9165-c6d0bb3689f9)'
      instanceId: p$(Build.BuildId)
      resourceGroupLocation: westeurope
      applicationInsightsName: kmd-momentum-mea-phoenix-ai
      applicationInsightsResourceGroup: kmd-momentum-mea-rg
      diagnosticSeqServerUrl: $(PhoenixDiagnosticSeqServerUrl)
      diagnosticSeqApiKey: $(PhoenixDiagnosticSeqApiKey)
      webAppServicePlanSku: S1
      webAppConfigAlwaysOn: false
      autoSwapSlots: true
      clientId:$(clientId)
      clientSecret:$(clientSecret)
      resource:$(resource)

- stage: deploy_internal
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - template: azure-pipelines-release-template.yml
    parameters:
      environmentNameSuffix: internal
      environmentAutoDelete: false
      azureSubscription: 'KMD Momentum Internal (77a2aca7-3b91-463d-9165-c6d0bb3689f9)'
      instanceId: internal
      resourceGroupLocation: westeurope
      applicationInsightsName: kmd-momentum-mea-internal-ai
      applicationInsightsResourceGroup: kmd-momentum-mea-rg
      diagnosticSeqServerUrl: $(ShareddevDiagnosticSeqAServerUrl)
      diagnosticSeqApiKey: $(ShareddevDiagnosticSeqApiKey)
      webAppServicePlanSku: S1
      webAppConfigAlwaysOn: false
      autoSwapSlots: true
      clientId:$(clientId)
      clientSecret:$(clientSecret)
      resource:$(resource)
